@charset "UTF-8";

aside{
    width: 100%;
    display: flex;
    margin-top: 70px;
    padding: 15px;
    text-align: center;
    align-items: center;
    background-color: #263A74;
    justify-content: space-evenly;
}

#titulo{
    width: 400px;
    height: 200px;
    text-align: justify;
}

#titulo > h1{
    color: #fff;
    font-size: 2.8em;
    padding: 10px 0;
    border-bottom: 2px solid #fff;
}

#titulo > p{
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 10px;
}

.img-principal{
    width: 500px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 6px 6px 1px rgba(0, 0, 0, 0.281);
}


/* Texto explicativo */

article{
    width: 100%;
}

article > div{
    padding: 20px;
    margin: 10px;
    text-align: justify;
}

article > div > p{
    color: #1e2d5a;
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 10px;
}

/****** Swiper Card initial ******/

h2{
    font-size: 1.7em;
    font-weight: 700; 
    color: #263A74;
    margin-left: 30px;
    margin-bottom: 40px;
}

.img_box .card-penson{
    width: 90%;
    margin-top: 10px;
    height: 280px;
}

.card-penson{
    background-color: #263A74;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.658);
}

.card-penson > figure{
    padding: 10px 0;
    background-color: #fff;
    text-align: center;
}

.card-penson > figure > img{
    width: 130px;
    border-radius: 50%;
}

.card-penson > h3{
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #fff;
}

.card-penson > p{
    color: #cfcfcf;
    font-size: 1em;
    font-weight: 500;
    padding-top: 5px;
}

.card-penson > div{
    margin-top: 10px;
}

.card-penson > div > a{
    margin: 0 10px;
}

.card-penson > div > a > .icons:hover{
    transform: translateY(-5px);
    transition-duration: .2s;
}

.card_slider{
    height: 320px;
}

.slider_container .container{
    padding-left: 10px;
    max-width: 1230px;
    margin: 0 auto;
}
  
.card_slider{
    padding: 50px 0;
}


/****** Cards informativos ******/

section > h2{
    font-size: 1.7em;
    font-weight: 700; 
    color: #263A74;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 40px;
}

section.container{
    width: 100%;
    box-sizing: border-box;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.card-info{
    width: 420px;
    height: 200px;
    display: flex;
    text-align: center;
    border-radius: 3px;
    background-color: #fff;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 0.9px solid #263a749d;
}

.card-info > figure{
    background-color: #263A74;
    padding: 10px;
}

.card-info > figure > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.card-info > figure > h1{
    color: #fff;
}

.card-info > h1{
    color: #15224b;
    padding: 10px;
}

.card-info > p{
    color: #263A74;
    font-size: 1.2em;
    text-align: justify;
    padding: 10px;
}


/****** MediaQueries ******/

@media screen and (max-width: 600px){
    aside{
        display: flex;
        justify-content: start;
        height: 450px;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/foto_pet.jpeg');
        background-position: center center;
        background-size: cover;
    }
    #titulo{
        margin-top: 200px;
    }
    #titulo > h1{
        font-size: 2.1em;
    }
    
    #titulo > p{
        font-size: 1.1em;
    }
    .img-principal{
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px){
    aside{
        display: flex;
        justify-content: start;
        height: 450px;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/foto_pet.jpeg');
        background-size: cover;
        background-position: center center;
    }
    #titulo{
        margin-top: 200px;
    }
    #titulo > h1{
        font-size: 2.1em;
    }
    
    #titulo > p{
        font-size: 1.1em;
    }
    .img-principal{
        display: none;
    }
}

@media screen and (min-width: 800px) and (max-width: 1085px){
    aside{
        display: flex;
        justify-content: start;
        height: 450px;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/foto_pet.jpeg');
        background-size: cover;
        background-position: center center;
    }
    #titulo{
        margin-top: 150px;
    }
    #titulo > h1{
        font-size: 2.2em;
    }
    
    #titulo > p{
        font-size: 1.2em;
    }
    .img-principal{
        display: none;
    }
}
